.adv .mm .uk-container{
	display: flex;
	justify-content: space-between;
	padding: 10px 20px !important;
	grid-gap: 10px;
	max-width: 960px;
}
.adv .mm div{
	display: flex;
	align-items: center;
}
.adv .mm ul{
	display: flex;
	grid-gap: 10px;
	margin: 0
}
.adv .mm ul li{
	font-weight: 700 !important;	
}
.adv .mm span{
	font-size: .8rem;
	margin: 0 5px;
	display: inline-flex;
	padding: 0 5px;
}
.adv .mm ul li:nth-child(1)::before{color: #005CEF; content:"globo.com"}
.adv .mm ul li:nth-child(2)::before{color: #A80000; content:"g1"}
.adv .mm ul li:nth-child(3)::before{color: #3E831E; content:"ge"}
.adv .mm ul li:nth-child(4)::before{color: #FF7F00; content:"gshow"}
.adv .mm ul li:nth-child(5)::before{color: #005CEF; content:"vídeos"}
.adv .mm img{
	width: inherit;
}
.adv .mm .g1 img{
	height: 48px !important;	
	width: 75.14px !important;
}
.adv .mm .m2{
	font-size: .8rem;
	font-weight: 500;
	color: #666;
	border-radius: 3px;
	background-color: transparent;
	background-image: linear-gradient(180deg, #F3F3F3FC 33%, #CFCFCF 90%);
	border-style: solid;
	border-width: 1px;
	border-color: #E6E6E6;
	border-radius: 4px;
	padding: 5px 20px;
	display: flex;
	align-items: center;
}



.adv .topo{
	background: #B80C00;
}
.adv .topo .uk-container{
	max-width: 960px;
}
.adv .topo .logog1{
	height: 40px;
}
.adv .topo .uk-container div{
	display: flex;
	align-items: center;
}
.adv .topo .g1 img{
	height: 15px;
	width: 23.48px !important;
	filter: invert() brightness(10);
	position: relative;
	top: -2px;
	object-fit: contain;
}
.adv .topo .titulo{
	color: #FFF;
	text-decoration: none;
	font-size: 1.85rem;
	font-weight: 500;
	line-height: normal;
}
.adv .topo .uk-container{
	display: flex;
	justify-content: space-between;
	padding: 17px 10px;
	align-items: center;
}
.adv .topo .uk-button{
	background: none;
	color: #FFF;
	padding: 0;
	margin-left: 5px !important;
	display: flex;
	align-items: center;
	font-weight: 700;
}
.adv .topo .uk-button i{
	display: block;
	padding-right: 5px;
	font-size: 1.8rem
}
.adv .topo .uk-button span{
	margin-right: 10px !important;
}
.adv .topo label{
	position: relative;
	display: flex;
	align-items: center;
	margin-right: 8px;
	max-width: 160px;
}
.adv .topo label i{
	color: #CCC;
	position: absolute;
	right: 10px;
}
.adv .topo label input{
	padding: 10px 30px 10px 10px;
	border-radius: 3px;
	background: rgba(0,0,0,.0);
	outline: none;
	color: #FFF;
	border: none;
	max-width: 100%;
	font-weight: 600;
}
.adv .topo label input::-webkit-input-placeholder { 
  color: #CCC;
}
.adv .topo label input:-ms-input-placeholder {
  color: #CCC;
}
.adv .topo label input::placeholder {
  color: #CCC;
}
.adv .topo label input:focus{
	background: #FFF;
	color: #7a7a7a;
}


	
.adv .content{
	background: #F3F3F3;
}
.adv .content .uk-container{
	display: grid;
	grid-template-columns: 1fr 300px;
	padding: 60px 20px;
	grid-gap: 30px;
	max-width: 960px;
}
.adv .article{
	display: flex;
	flex-direction: column;
	align-items: center; 
}
.adv .article .header{
	width: 100%;
}
.adv .article .editorial{
	width: 100%;
}
.adv .header h1{
	font-size: 35px;
	font-weight: 700;
	margin: 0 !important;
	width: 100%;
	color: var(--tcolor);
}
.adv .header h2{
	font-size: var(--fsp);
	font-weight: 400;	
	margin: 10px 0 !important;
	width: 100%;
	color: var(--hcolor);
}
.adv .header .share{
	display: flex;
	justify-content: space-between;
	margin: 10px 0 !important;
	width: 100%;
}
.adv .header .share p{
	font-weight: 600;
	color: var(--hcolor);
	font-size: var(--fsp);
	margin: 0 !important;
}
.adv .header p.left{
	text-align: left;
	width: 100%;
	color: #929292;
	font-size: 12px;
}
.adv .header .share ul{
	display: flex;
	grid-gap: 10px;
	margin: 0
}
.adv .header .share li:nth-child(1) span{color: #4267B2;}
.adv .header .share li:nth-child(2) span{color: #1DA1F2;}
.adv .header .share li:nth-child(3) span{color: #2FB140;}
.adv .header .share li:nth-child(4) span{color: #1377B5;}
.adv .header .share li:nth-child(5) span{color: #B7081B;}
.adv .article hr{
	margin: 10px 0 !important;
	border-top: solid 1px #DDD;
	width: 100%;
}



.adv .editorial figure a{
	position: relative;
}
.adv .editorial figure a .codeEd{
	
}
.adv .editorial figure img{
	display: block;
	height: inherit;
}
.adv .editorial figure{
	padding: 20px 0;
	display: block;
}
.adv .editorial figure legend{
	display: block;
	margin: 0;
	font-size: 12px;
	background: url(../app/img/photo.svg) no-repeat center left/17px;
	padding: 5px 0 5px 25px;
	color: #000;
	line-height: normal;
}
.adv .editorial .txt p,
.adv .editorial .txt p *{
	font-size: 18px;
	line-height: normal;
	color: #222;
	font-weight: normal;
	margin: 20px 0;
}
.adv .editorial .txt strong,
.adv .editorial .txt strong *{
	font-weight: bold;
}
.adv .editorial .txt h2,
.adv .editorial .txt h2 *{
	font-size: 1.9rem !important;
	line-height: 1.9rem;
	color: #222;
	font-weight: 600;
	margin: 0 !important;
}
.adv .editorial .center{
	text-align: center;
}
.adv .editorial .center a{
	background: #ff0000;
	border-radius: 5px;
	font-size: 1.1rem;
	font-weight: 500;
}



.adv .aside{
	height: 100%;
}
.adv .aside .conteudo{
	box-shadow: 0 -5px 0 #B80C00;
	padding: 30px 20px;
	border: solid 1px #AAA;	
	top: 0px;
}
.adv .aside h4{
	font-weight: 700;
	font-size: 1.2rem;
	border-bottom: solid 1px #DDD;
	display: flex;
	align-items: center;
	padding-bottom: 20px;
}
.adv .aside figure a{
	position: relative;
	display: flex;
}
.adv .aside h4 img{
	height: 15px;
	width: auto;
	margin-right: 5px !important;
	margin-top: -3px !important;
}
.adv .aside h5{
	font-weight: 600;
	font-size: 1rem;
	line-height: normal;
	border-bottom: solid 1px #DDD;
	color: #B80C00;
	text-transform: inherit;
	padding: 20px 0;
}
.adv .aside ul{
	margin-top: 20px !important;
	margin-bottom: 20px !important;
	padding: 0;
	display: grid;
	grid-gap: 10px;
}
.adv .aside ul li{
	border-bottom: solid 1px #DDD;
	padding-bottom: 10px;
}
.adv .aside ul li a{
	display: grid;
	grid-template-columns: 1fr 2fr;
	grid-gap: 10px;
	margin: 5px 0;	
	text-decoration: none;
	align-items: center;
	position: relative;
}
.adv .aside ul li img{
	border-radius: 5px;
}
.adv .aside ul li p{
	font-size: .85rem;
	font-weight: 500;
	line-height: normal;
	color: #B80C00;
}



.adv .comentarios{
	width: 100%;
	padding: 50px 0 0;
}
.adv .comentarios h3{
	font-size: 2rem;
}
.adv .comentarios p.desc{
	line-height: normal;
}
.adv .comentarios ul{
	padding-top: 30px;
	padding-left: 0px;
	margin-bottom: 0px;
}
.adv .comentarios li{
	padding:  0 !important;
	display: flex;
	align-items: flex-start;
}
.adv .comentarios li img{
	height: 50px;
	width: 50px;
	max-width: 50px;
	max-height: 50px;
	min-width: 50px;
	min-height: 50px;
	width: inherit;
	background: #EEE;
	display: block;
	border-radius: 50%;
	position: relative;
	left: 0px;
	object-fit: cover;
	margin: 0 !important;
	padding: 0 !important;
	transform: scale(1);
	z-index: 1;
}
.adv .comentarios li:first-child{
	padding-top: 0 !important;
}
.adv .comentarios li:first-child img{
	transform: scale(1.3);
}
.adv .comentarios li .text{
	padding: 0px 0 20px 60px;
	border-left: solid 1px #D5D5D5;
	display: grid;
	flex-grow: 1;
	position: relative;
	left: -25px;
}
.adv .comentarios li h4{
	margin: 0;
}
.adv .comentarios li span{
	font-size: .8rem;
	color: #999;
	margin-bottom: 10px !important;
}
.adv .comentarios li p{
	margin: 0;
	line-height: normal;
}
.adv .comentarios li:nth-child(3){
	border-bottom: solid 1px #D5D5D5;
}
.adv .comentarios li:last-child{
	margin-top: 20px;
}
.adv .comentarios .end{
	background: #EEE;
	padding: 10px 15px;
	border-radius: 3px;
}


@media screen and (max-width: 720px) {
	.adv .mm ul{
		grid-gap: 15px;
	}
	.adv .mm ul li{
		font-size: .9rem;
	}
	.adv .mm span {
		display: none;
	}
	.adv .topo .titulo{
		font-size: 1.5rem;
	}
	.adv .topo label{
		padding-right: 20px;
	}
	.adv .topo label i{
		font-size: 1.1rem;
	}
	.adv .topo label input {
		display: none;
	}
	.adv .topo .uk-button span{
		display: none;		
	}
	.adv .content .uk-container{
		grid-template-columns: 1fr;
		padding: 60px 20px 20px;
	}
	.adv .aside{
		display: none;
	}
	.adv .editorial figure img.banner_min{
		max-width: 300px !important;
	}
	.adv .mm .m2{
		padding: 3px 15px;
	}
}